.git
.github

.env.example

./front-end/node_modules
./front-end/.nuxt
./front-end/.output
./front-end/.pnpm-store

./back-end/node_modules
./back-end/vendor

docker-compose.dev.yml
docker-compose.prod.yml

LICENSE.md
README.md
SECURITY.md