@import './plugins/animate.min.css';
@import './plugins/fontawesome-6.css';
@import './plugins/swiper.min.css';
@import './plugins/unicons.css';

@import './vendor/bootstrap.min.css';
@import './vendor/metismenu.css';

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color-primary: #141414;
    --color-secondary: #1f1f25;
    --color-body: #74787c;
    --color-heading-1: #fff;
    --color-white: #fff;
    --color-success: #3eb75e;
    --color-danger: #ff0003;
    --color-warning: #ff8f3c;
    --color-info: #1ba2db;
    --color-facebook: #3b5997;
    --color-twitter: #1ba1f2;
    --color-youtube: #ed4141;
    --color-linkedin: #0077b5;
    --color-pinterest: #e60022;
    --color-instagram: #c231a1;
    --color-vimeo: #00adef;
    --color-twitch: #6441a3;
    --color-discord: #7289da;
    --p-light: 300;
    --p-regular: 400;
    --p-medium: 500;
    --p-semi-bold: 600;
    --p-bold: 700;
    --p-extra-bold: 800;
    --p-black: 900;
    --s-light: 300;
    --s-regular: 400;
    --s-medium: 500;
    --s-semi-bold: 600;
    --s-bold: 700;
    --s-extra-bold: 800;
    --s-black: 900;
    --transition: 0.3s;
    --font-primary: 'Hanken Grotesk', sans-serif;
    --font-secondary: 'Hanken Grotesk', sans-serif;
    --font-3: 'fontawesome', sans-serif;
    --font-size-b1: 16px;
    --font-size-b2: 16px;
    --font-size-b3: 12px;
    --font-size-b4: 10px;
    --line-height-b1: 26px;
    --line-height-b2: 26px;
    --line-height-b3: 1.7;
    --h1: 60px;
    --h2: 48px;
    --h3: 30px;
    --h4: 26px;
    --h5: 24px;
    --h6: 18px;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-size: 10px;
    overflow: hidden;
    overflow-y: auto;
    scroll-behavior: auto !important;
}

body {
    min-height: 100vh;
    font-size: var(--font-size-b1);
    line-height: var(--line-height-b1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Hanken Grotesk', sans-serif;
    color: var(--color-body);
    font-weight: var(--p-regular);
    position: relative;
    overflow-x: hidden;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    body {
        overflow: hidden;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
        overflow: hidden;
    }
}
@media only screen and (max-width: 767px) {
    body {
        overflow: hidden;
    }
}

body::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0.05;
}

.buttons-main-wrapper-elements {
    display: flex;
    align-items: center;
    gap: 40px;
}
.buttons-main-wrapper-elements .plus-btn {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 12px;
}
.buttons-main-wrapper-elements .plus-btn.btn-md {
    font-size: 18px;
}
.buttons-main-wrapper-elements .plus-btn.btn-lg {
    font-size: 20px;
}
.buttons-main-wrapper-elements .plus-btn.btn-xl {
    font-size: 22px;
}

.title-elements-parent {
    font-size: 70px;
    margin-bottom: 80px;
    text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .title-elements-parent {
        font-size: 54px;
        line-height: 1.2;
    }
}
@media only screen and (max-width: 767px) {
    .title-elements-parent {
        font-size: 46px;
        line-height: 1.2;
    }
}
@media only screen and (max-width: 575px) {
    .title-elements-parent {
        font-size: 36px;
        line-height: 1.2;
    }
}

.bg-white .title-elements-parent {
    color: #141414;
    font-size: 70px;
    margin-bottom: 80px;
    text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .bg-white .title-elements-parent {
        font-size: 54px;
        line-height: 1.2;
    }
}
@media only screen and (max-width: 767px) {
    .bg-white .title-elements-parent {
        font-size: 46px;
        line-height: 1.2;
    }
}
@media only screen and (max-width: 575px) {
    .bg-white .title-elements-parent {
        font-size: 36px;
        line-height: 1.2;
    }
}

